*{
    padding: 0;
    margin: 0;
}
body {
    background-color: #f8f8f8;
}
/*
a {
    color: #428bca;
}
*/
.side-nav {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}
.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #000;
    background-color: #e7e7e7;
}
@media(min-width:768px) {
    .side-nav li a:hover,
    .side-nav li a:focus {
        color: #000;
        background-color: #e7e7e7 !important;
    }
}
